#FRONTEND
FRONTEND_URL=http://localhost:5173

#SERVER
PORT=3000
IP=localhost
PROTOCOL=http
LANGUAGE=es

#SECRETS
SECRET=
JWT_SECRET=

#DB
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

#SERVICES
RESEND_API_KEY=
EMAIL=