@keyframes pulseSlow {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.15;
  }
}

.animate-pulse-slow {
  animation: pulseSlow 8s infinite ease-in-out;
}
