--
-- PostgreSQL database dump
--

\restrict dR2fPcUfvNO3xMG3NtsJzBw70j46qpXSKeQ0xowuurhZrDU0yyaxKYayPNcITy0

-- Dumped from database version 16.12 (Debian 16.12-1.pgdg13+1)
-- Dumped by pg_dump version 16.12 (Debian 16.12-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auditoria; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.auditoria (
    auditoria_id integer NOT NULL,
    auditoria_tabla character varying(100),
    auditoria_accion character varying(50),
    auditoria_fecha date,
    auditoria_hora time without time zone,
    auditoria_detalles text,
    usuario_id integer
);


ALTER TABLE public.auditoria OWNER TO webii_user;

--
-- Name: auditoria_auditoria_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.auditoria_auditoria_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.auditoria_auditoria_id_seq OWNER TO webii_user;

--
-- Name: auditoria_auditoria_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.auditoria_auditoria_id_seq OWNED BY public.auditoria.auditoria_id;


--
-- Name: caracteristica; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.caracteristica (
    caracteristica_id integer NOT NULL,
    caracteristica_de character varying(100) NOT NULL
);


ALTER TABLE public.caracteristica OWNER TO webii_user;

--
-- Name: caracteristica_caracteristica_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.caracteristica_caracteristica_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.caracteristica_caracteristica_id_seq OWNER TO webii_user;

--
-- Name: caracteristica_caracteristica_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.caracteristica_caracteristica_id_seq OWNED BY public.caracteristica.caracteristica_id;


--
-- Name: caracteristica_item; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.caracteristica_item (
    caracteristica_item_id integer NOT NULL,
    caracteristica_item_de character varying(100),
    caracteristica_id integer,
    item_id integer
);


ALTER TABLE public.caracteristica_item OWNER TO webii_user;

--
-- Name: caracteristica_item_caracteristica_item_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.caracteristica_item_caracteristica_item_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.caracteristica_item_caracteristica_item_id_seq OWNER TO webii_user;

--
-- Name: caracteristica_item_caracteristica_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.caracteristica_item_caracteristica_item_id_seq OWNED BY public.caracteristica_item.caracteristica_item_id;


--
-- Name: categoria; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.categoria (
    categoria_id integer NOT NULL,
    categoria_de character varying(100) NOT NULL,
    tipo_categoria_id integer
);


ALTER TABLE public.categoria OWNER TO webii_user;

--
-- Name: categoria_categoria_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.categoria_categoria_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categoria_categoria_id_seq OWNER TO webii_user;

--
-- Name: categoria_categoria_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.categoria_categoria_id_seq OWNED BY public.categoria.categoria_id;


--
-- Name: detalle_movimiento; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.detalle_movimiento (
    detalle_movimiento_id integer NOT NULL,
    detalle_movimiento_cantidad integer,
    detalle_movimiento_observaciones text,
    detalle_movimiento_multa numeric(12,2),
    inventario_id integer,
    movimiento_id integer
);


ALTER TABLE public.detalle_movimiento OWNER TO webii_user;

--
-- Name: detalle_movimiento_detalle_movimiento_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.detalle_movimiento_detalle_movimiento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.detalle_movimiento_detalle_movimiento_id_seq OWNER TO webii_user;

--
-- Name: detalle_movimiento_detalle_movimiento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.detalle_movimiento_detalle_movimiento_id_seq OWNED BY public.detalle_movimiento.detalle_movimiento_id;


--
-- Name: estado_devolucion; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.estado_devolucion (
    estado_devolucion_id integer NOT NULL,
    estado_devolucion_de character varying(100),
    estado_devolucion_fecha timestamp without time zone,
    estado_devolucion_observaciones text,
    detalle_movimiento_id integer
);


ALTER TABLE public.estado_devolucion OWNER TO webii_user;

--
-- Name: estado_devolucion_estado_devolucion_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.estado_devolucion_estado_devolucion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.estado_devolucion_estado_devolucion_id_seq OWNER TO webii_user;

--
-- Name: estado_devolucion_estado_devolucion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.estado_devolucion_estado_devolucion_id_seq OWNED BY public.estado_devolucion.estado_devolucion_id;


--
-- Name: inventario; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.inventario (
    inventario_id integer NOT NULL,
    inventario_cantidad integer NOT NULL,
    inventario_fecha_actualizacion timestamp without time zone,
    ubicacion_id integer,
    item_id integer
);


ALTER TABLE public.inventario OWNER TO webii_user;

--
-- Name: inventario_inventario_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.inventario_inventario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventario_inventario_id_seq OWNER TO webii_user;

--
-- Name: inventario_inventario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.inventario_inventario_id_seq OWNED BY public.inventario.inventario_id;


--
-- Name: item; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.item (
    item_id integer NOT NULL,
    item_codigo character varying(50) NOT NULL,
    item_nombre character varying(100) NOT NULL,
    item_costo numeric(12,2),
    item_fecha_adquisicion date,
    categoria_id integer
);


ALTER TABLE public.item OWNER TO webii_user;

--
-- Name: item_item_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.item_item_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.item_item_id_seq OWNER TO webii_user;

--
-- Name: item_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.item_item_id_seq OWNED BY public.item.item_id;


--
-- Name: movimiento; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.movimiento (
    movimiento_id integer NOT NULL,
    movimiento_inicio_fe timestamp without time zone,
    movimiento_fecha_limite_apartado timestamp without time zone,
    movimiento_fecha_devolucion_estimada timestamp without time zone,
    movimiento_fecha_devolucion_real timestamp without time zone,
    movimiento_observaciones text,
    usuario_id integer,
    tipo_movimiento_id integer,
    periodo_id integer
);


ALTER TABLE public.movimiento OWNER TO webii_user;

--
-- Name: movimiento_movimiento_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.movimiento_movimiento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movimiento_movimiento_id_seq OWNER TO webii_user;

--
-- Name: movimiento_movimiento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.movimiento_movimiento_id_seq OWNED BY public.movimiento.movimiento_id;


--
-- Name: notificacion; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.notificacion (
    notificacion_id integer NOT NULL,
    notificacion_tipo character varying(50),
    notificacion_prioridad character varying(50),
    notificacion_titulo character varying(100),
    notificacion_mensaje text,
    notificacion_fecha timestamp without time zone,
    usuario_id integer
);


ALTER TABLE public.notificacion OWNER TO webii_user;

--
-- Name: notificacion_notificacion_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.notificacion_notificacion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notificacion_notificacion_id_seq OWNER TO webii_user;

--
-- Name: notificacion_notificacion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.notificacion_notificacion_id_seq OWNED BY public.notificacion.notificacion_id;


--
-- Name: periodo; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.periodo (
    periodo_id integer NOT NULL,
    periodo_de character varying(100) NOT NULL,
    periodo_activo boolean
);


ALTER TABLE public.periodo OWNER TO webii_user;

--
-- Name: periodo_periodo_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.periodo_periodo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.periodo_periodo_id_seq OWNER TO webii_user;

--
-- Name: periodo_periodo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.periodo_periodo_id_seq OWNED BY public.periodo.periodo_id;


--
-- Name: persona; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.persona (
    persona_id integer NOT NULL,
    persona_ci character varying(20) NOT NULL,
    persona_nombre character varying(100) NOT NULL,
    persona_apellido character varying(100) NOT NULL,
    persona_correo character varying(100),
    persona_telefono character varying(20),
    persona_carrera character varying(100)
);


ALTER TABLE public.persona OWNER TO webii_user;

--
-- Name: persona_persona_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.persona_persona_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.persona_persona_id_seq OWNER TO webii_user;

--
-- Name: persona_persona_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.persona_persona_id_seq OWNED BY public.persona.persona_id;


--
-- Name: tipo_categoria; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.tipo_categoria (
    tipo_categoria_id integer NOT NULL,
    tipo_categoria_de character varying(100) NOT NULL
);


ALTER TABLE public.tipo_categoria OWNER TO webii_user;

--
-- Name: tipo_categoria_tipo_categoria_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.tipo_categoria_tipo_categoria_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipo_categoria_tipo_categoria_id_seq OWNER TO webii_user;

--
-- Name: tipo_categoria_tipo_categoria_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.tipo_categoria_tipo_categoria_id_seq OWNED BY public.tipo_categoria.tipo_categoria_id;


--
-- Name: tipo_movimiento; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.tipo_movimiento (
    tipo_movimiento_id integer NOT NULL,
    tipo_movimiento_de character varying(100) NOT NULL
);


ALTER TABLE public.tipo_movimiento OWNER TO webii_user;

--
-- Name: tipo_movimiento_tipo_movimiento_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.tipo_movimiento_tipo_movimiento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipo_movimiento_tipo_movimiento_id_seq OWNER TO webii_user;

--
-- Name: tipo_movimiento_tipo_movimiento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.tipo_movimiento_tipo_movimiento_id_seq OWNED BY public.tipo_movimiento.tipo_movimiento_id;


--
-- Name: ubicacion; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.ubicacion (
    ubicacion_id integer NOT NULL,
    ubicacion_de character varying(100) NOT NULL,
    ubicacion_edificio character varying(100),
    ubicacion_cuarto character varying(100),
    ubicacion_estante character varying(100),
    ubicacion_gabeta character varying(100)
);


ALTER TABLE public.ubicacion OWNER TO webii_user;

--
-- Name: ubicacion_ubicacion_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.ubicacion_ubicacion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ubicacion_ubicacion_id_seq OWNER TO webii_user;

--
-- Name: ubicacion_ubicacion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.ubicacion_ubicacion_id_seq OWNED BY public.ubicacion.ubicacion_id;


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: webii_user
--

CREATE TABLE public.usuario (
    usuario_id integer NOT NULL,
    usuario_nombre character varying(100) NOT NULL,
    usuario_clave character varying(100) NOT NULL,
    persona_id integer
);


ALTER TABLE public.usuario OWNER TO webii_user;

--
-- Name: usuario_usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: webii_user
--

CREATE SEQUENCE public.usuario_usuario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuario_usuario_id_seq OWNER TO webii_user;

--
-- Name: usuario_usuario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: webii_user
--

ALTER SEQUENCE public.usuario_usuario_id_seq OWNED BY public.usuario.usuario_id;


--
-- Name: auditoria auditoria_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.auditoria ALTER COLUMN auditoria_id SET DEFAULT nextval('public.auditoria_auditoria_id_seq'::regclass);


--
-- Name: caracteristica caracteristica_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.caracteristica ALTER COLUMN caracteristica_id SET DEFAULT nextval('public.caracteristica_caracteristica_id_seq'::regclass);


--
-- Name: caracteristica_item caracteristica_item_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.caracteristica_item ALTER COLUMN caracteristica_item_id SET DEFAULT nextval('public.caracteristica_item_caracteristica_item_id_seq'::regclass);


--
-- Name: categoria categoria_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.categoria ALTER COLUMN categoria_id SET DEFAULT nextval('public.categoria_categoria_id_seq'::regclass);


--
-- Name: detalle_movimiento detalle_movimiento_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.detalle_movimiento ALTER COLUMN detalle_movimiento_id SET DEFAULT nextval('public.detalle_movimiento_detalle_movimiento_id_seq'::regclass);


--
-- Name: estado_devolucion estado_devolucion_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.estado_devolucion ALTER COLUMN estado_devolucion_id SET DEFAULT nextval('public.estado_devolucion_estado_devolucion_id_seq'::regclass);


--
-- Name: inventario inventario_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.inventario ALTER COLUMN inventario_id SET DEFAULT nextval('public.inventario_inventario_id_seq'::regclass);


--
-- Name: item item_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.item ALTER COLUMN item_id SET DEFAULT nextval('public.item_item_id_seq'::regclass);


--
-- Name: movimiento movimiento_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.movimiento ALTER COLUMN movimiento_id SET DEFAULT nextval('public.movimiento_movimiento_id_seq'::regclass);


--
-- Name: notificacion notificacion_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.notificacion ALTER COLUMN notificacion_id SET DEFAULT nextval('public.notificacion_notificacion_id_seq'::regclass);


--
-- Name: periodo periodo_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.periodo ALTER COLUMN periodo_id SET DEFAULT nextval('public.periodo_periodo_id_seq'::regclass);


--
-- Name: persona persona_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.persona ALTER COLUMN persona_id SET DEFAULT nextval('public.persona_persona_id_seq'::regclass);


--
-- Name: tipo_categoria tipo_categoria_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.tipo_categoria ALTER COLUMN tipo_categoria_id SET DEFAULT nextval('public.tipo_categoria_tipo_categoria_id_seq'::regclass);


--
-- Name: tipo_movimiento tipo_movimiento_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.tipo_movimiento ALTER COLUMN tipo_movimiento_id SET DEFAULT nextval('public.tipo_movimiento_tipo_movimiento_id_seq'::regclass);


--
-- Name: ubicacion ubicacion_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.ubicacion ALTER COLUMN ubicacion_id SET DEFAULT nextval('public.ubicacion_ubicacion_id_seq'::regclass);


--
-- Name: usuario usuario_id; Type: DEFAULT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.usuario ALTER COLUMN usuario_id SET DEFAULT nextval('public.usuario_usuario_id_seq'::regclass);


--
-- Data for Name: auditoria; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.auditoria (auditoria_id, auditoria_tabla, auditoria_accion, auditoria_fecha, auditoria_hora, auditoria_detalles, usuario_id) FROM stdin;
\.


--
-- Data for Name: caracteristica; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.caracteristica (caracteristica_id, caracteristica_de) FROM stdin;
1	Marca
2	Modelo
3	Serie
4	Color
5	Capacidad
6	Velocidad
7	Estado
8	Garant├¡a
\.


--
-- Data for Name: caracteristica_item; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.caracteristica_item (caracteristica_item_id, caracteristica_item_de, caracteristica_id, item_id) FROM stdin;
1	Dell	1	1
2	XPS 15	2	1
3	HP	1	2
4	Pavilion	2	2
5	LG	1	3
6	27 pulgadas	2	3
\.


--
-- Data for Name: categoria; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.categoria (categoria_id, categoria_de, tipo_categoria_id) FROM stdin;
1	Laptops	1
2	Desktops	1
3	Tablets	1
4	Monitores	1
5	Teclados	3
6	Mouses	3
7	Libros Texto	4
8	Libros Referencia	4
9	Licencias Software	5
\.


--
-- Data for Name: detalle_movimiento; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.detalle_movimiento (detalle_movimiento_id, detalle_movimiento_cantidad, detalle_movimiento_observaciones, detalle_movimiento_multa, inventario_id, movimiento_id) FROM stdin;
\.


--
-- Data for Name: estado_devolucion; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.estado_devolucion (estado_devolucion_id, estado_devolucion_de, estado_devolucion_fecha, estado_devolucion_observaciones, detalle_movimiento_id) FROM stdin;
\.


--
-- Data for Name: inventario; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.inventario (inventario_id, inventario_cantidad, inventario_fecha_actualizacion, ubicacion_id, item_id) FROM stdin;
1	10	2026-02-17 17:10:46.515917	1	1
2	15	2026-02-17 17:10:46.515917	1	2
3	8	2026-02-17 17:10:46.515917	2	3
4	20	2026-02-17 17:10:46.515917	1	4
5	5	2026-02-17 17:10:46.515917	5	5
\.


--
-- Data for Name: item; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.item (item_id, item_codigo, item_nombre, item_costo, item_fecha_adquisicion, categoria_id) FROM stdin;
1	LAP001	Laptop Dell XPS 15	1500.00	2024-01-15	1
2	LAP002	Laptop HP Pavilion	800.00	2024-02-20	1
3	MON001	Monitor LG 27"	300.00	2024-01-10	4
4	KEY001	Teclado Mec├ínico RGB	120.00	2024-03-01	5
5	LIB001	C├ílculo Diferencial	45.00	2024-01-05	7
\.


--
-- Data for Name: movimiento; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.movimiento (movimiento_id, movimiento_inicio_fe, movimiento_fecha_limite_apartado, movimiento_fecha_devolucion_estimada, movimiento_fecha_devolucion_real, movimiento_observaciones, usuario_id, tipo_movimiento_id, periodo_id) FROM stdin;
\.


--
-- Data for Name: notificacion; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.notificacion (notificacion_id, notificacion_tipo, notificacion_prioridad, notificacion_titulo, notificacion_mensaje, notificacion_fecha, usuario_id) FROM stdin;
\.


--
-- Data for Name: periodo; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.periodo (periodo_id, periodo_de, periodo_activo) FROM stdin;
1	2024-1	t
2	2024-2	f
3	2025-1	f
4	2025-2	f
\.


--
-- Data for Name: persona; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.persona (persona_id, persona_ci, persona_nombre, persona_apellido, persona_correo, persona_telefono, persona_carrera) FROM stdin;
1	12345678	Juan	P├®rez	juan.perez@universidad.edu	555-0101	Ingenier├¡a
2	87654321	Mar├¡a	Gonz├ílez	maria.gonzalez@universidad.edu	555-0102	Arquitectura
3	13579246	Carlos	Rodr├¡guez	carlos.rodriguez@universidad.edu	555-0103	Medicina
\.


--
-- Data for Name: tipo_categoria; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.tipo_categoria (tipo_categoria_id, tipo_categoria_de) FROM stdin;
1	Equipos
2	Materiales
3	Herramientas
4	Libros
5	Software
\.


--
-- Data for Name: tipo_movimiento; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.tipo_movimiento (tipo_movimiento_id, tipo_movimiento_de) FROM stdin;
1	Pr├®stamo
2	Devoluci├│n
3	Mantenimiento
4	Transferencia
\.


--
-- Data for Name: ubicacion; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.ubicacion (ubicacion_id, ubicacion_de, ubicacion_edificio, ubicacion_cuarto, ubicacion_estante, ubicacion_gabeta) FROM stdin;
1	Bodega Principal	Edificio A	101	A1	\N
2	Laboratorio 1	Edificio B	201	B1	\N
3	Laboratorio 2	Edificio B	202	B2	\N
4	Sala de Profesores	Edificio C	301	C1	\N
5	Biblioteca	Edificio D	401	D1	\N
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: webii_user
--

COPY public.usuario (usuario_id, usuario_nombre, usuario_clave, persona_id) FROM stdin;
1	jperez	$2b$10$placeholder_hash_1	1
2	mgonzalez	$2b$10$placeholder_hash_2	2
3	crodriguez	$2b$10$placeholder_hash_3	3
\.


--
-- Name: auditoria_auditoria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.auditoria_auditoria_id_seq', 1, false);


--
-- Name: caracteristica_caracteristica_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.caracteristica_caracteristica_id_seq', 8, true);


--
-- Name: caracteristica_item_caracteristica_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.caracteristica_item_caracteristica_item_id_seq', 6, true);


--
-- Name: categoria_categoria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.categoria_categoria_id_seq', 9, true);


--
-- Name: detalle_movimiento_detalle_movimiento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.detalle_movimiento_detalle_movimiento_id_seq', 1, false);


--
-- Name: estado_devolucion_estado_devolucion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.estado_devolucion_estado_devolucion_id_seq', 1, false);


--
-- Name: inventario_inventario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.inventario_inventario_id_seq', 5, true);


--
-- Name: item_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.item_item_id_seq', 5, true);


--
-- Name: movimiento_movimiento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.movimiento_movimiento_id_seq', 1, false);


--
-- Name: notificacion_notificacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.notificacion_notificacion_id_seq', 1, false);


--
-- Name: periodo_periodo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.periodo_periodo_id_seq', 4, true);


--
-- Name: persona_persona_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.persona_persona_id_seq', 3, true);


--
-- Name: tipo_categoria_tipo_categoria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.tipo_categoria_tipo_categoria_id_seq', 5, true);


--
-- Name: tipo_movimiento_tipo_movimiento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.tipo_movimiento_tipo_movimiento_id_seq', 4, true);


--
-- Name: ubicacion_ubicacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.ubicacion_ubicacion_id_seq', 5, true);


--
-- Name: usuario_usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: webii_user
--

SELECT pg_catalog.setval('public.usuario_usuario_id_seq', 3, true);


--
-- Name: auditoria auditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.auditoria
    ADD CONSTRAINT auditoria_pkey PRIMARY KEY (auditoria_id);


--
-- Name: caracteristica_item caracteristica_item_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.caracteristica_item
    ADD CONSTRAINT caracteristica_item_pkey PRIMARY KEY (caracteristica_item_id);


--
-- Name: caracteristica caracteristica_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.caracteristica
    ADD CONSTRAINT caracteristica_pkey PRIMARY KEY (caracteristica_id);


--
-- Name: categoria categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT categoria_pkey PRIMARY KEY (categoria_id);


--
-- Name: detalle_movimiento detalle_movimiento_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.detalle_movimiento
    ADD CONSTRAINT detalle_movimiento_pkey PRIMARY KEY (detalle_movimiento_id);


--
-- Name: estado_devolucion estado_devolucion_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.estado_devolucion
    ADD CONSTRAINT estado_devolucion_pkey PRIMARY KEY (estado_devolucion_id);


--
-- Name: inventario inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_pkey PRIMARY KEY (inventario_id);


--
-- Name: item item_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.item
    ADD CONSTRAINT item_pkey PRIMARY KEY (item_id);


--
-- Name: movimiento movimiento_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.movimiento
    ADD CONSTRAINT movimiento_pkey PRIMARY KEY (movimiento_id);


--
-- Name: notificacion notificacion_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.notificacion
    ADD CONSTRAINT notificacion_pkey PRIMARY KEY (notificacion_id);


--
-- Name: periodo periodo_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.periodo
    ADD CONSTRAINT periodo_pkey PRIMARY KEY (periodo_id);


--
-- Name: persona persona_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.persona
    ADD CONSTRAINT persona_pkey PRIMARY KEY (persona_id);


--
-- Name: tipo_categoria tipo_categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.tipo_categoria
    ADD CONSTRAINT tipo_categoria_pkey PRIMARY KEY (tipo_categoria_id);


--
-- Name: tipo_movimiento tipo_movimiento_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.tipo_movimiento
    ADD CONSTRAINT tipo_movimiento_pkey PRIMARY KEY (tipo_movimiento_id);


--
-- Name: ubicacion ubicacion_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.ubicacion
    ADD CONSTRAINT ubicacion_pkey PRIMARY KEY (ubicacion_id);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (usuario_id);


--
-- Name: auditoria auditoria_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.auditoria
    ADD CONSTRAINT auditoria_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuario(usuario_id);


--
-- Name: caracteristica_item caracteristica_item_caracteristica_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.caracteristica_item
    ADD CONSTRAINT caracteristica_item_caracteristica_id_fkey FOREIGN KEY (caracteristica_id) REFERENCES public.caracteristica(caracteristica_id);


--
-- Name: caracteristica_item caracteristica_item_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.caracteristica_item
    ADD CONSTRAINT caracteristica_item_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.item(item_id);


--
-- Name: categoria categoria_tipo_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT categoria_tipo_categoria_id_fkey FOREIGN KEY (tipo_categoria_id) REFERENCES public.tipo_categoria(tipo_categoria_id);


--
-- Name: detalle_movimiento detalle_movimiento_inventario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.detalle_movimiento
    ADD CONSTRAINT detalle_movimiento_inventario_id_fkey FOREIGN KEY (inventario_id) REFERENCES public.inventario(inventario_id);


--
-- Name: detalle_movimiento detalle_movimiento_movimiento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.detalle_movimiento
    ADD CONSTRAINT detalle_movimiento_movimiento_id_fkey FOREIGN KEY (movimiento_id) REFERENCES public.movimiento(movimiento_id);


--
-- Name: estado_devolucion estado_devolucion_detalle_movimiento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.estado_devolucion
    ADD CONSTRAINT estado_devolucion_detalle_movimiento_id_fkey FOREIGN KEY (detalle_movimiento_id) REFERENCES public.detalle_movimiento(detalle_movimiento_id);


--
-- Name: inventario inventario_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.item(item_id);


--
-- Name: inventario inventario_ubicacion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_ubicacion_id_fkey FOREIGN KEY (ubicacion_id) REFERENCES public.ubicacion(ubicacion_id);


--
-- Name: item item_categoria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.item
    ADD CONSTRAINT item_categoria_id_fkey FOREIGN KEY (categoria_id) REFERENCES public.categoria(categoria_id);


--
-- Name: movimiento movimiento_periodo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.movimiento
    ADD CONSTRAINT movimiento_periodo_id_fkey FOREIGN KEY (periodo_id) REFERENCES public.periodo(periodo_id);


--
-- Name: movimiento movimiento_tipo_movimiento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.movimiento
    ADD CONSTRAINT movimiento_tipo_movimiento_id_fkey FOREIGN KEY (tipo_movimiento_id) REFERENCES public.tipo_movimiento(tipo_movimiento_id);


--
-- Name: movimiento movimiento_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.movimiento
    ADD CONSTRAINT movimiento_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuario(usuario_id);


--
-- Name: notificacion notificacion_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.notificacion
    ADD CONSTRAINT notificacion_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuario(usuario_id);


--
-- Name: usuario usuario_persona_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: webii_user
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_persona_id_fkey FOREIGN KEY (persona_id) REFERENCES public.persona(persona_id);


--
-- PostgreSQL database dump complete
--

\unrestrict dR2fPcUfvNO3xMG3NtsJzBw70j46qpXSKeQ0xowuurhZrDU0yyaxKYayPNcITy0

